/* CSS declarations go here */
body {
	padding-top: 20px;
}

.contact_list > li {
	width: 230px;
	min-height: 250px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.access_denied {
	margin: 100px auto;
}