<template name="add_contact">
	<div class="span4">
		<div class="well">
			<form>
				<label>Name</label>
				<input type="text" class="input-block-level name">

				<label>Email</label>
				<input type="text" class="input-block-level email">

				<label>Phone</label>
				<input type="text" class="input-block-level phone">

				<label>Twitter</label>
				<input type="text" class="input-block-level twitter">
				
				<hr>

				<input type="submit" class="btn btn-primary btn-large" value="Add Contact">
			</form>
		</div>
	</div>
</template>
